prj-soap2/src/eurocal/eurocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/eurocal/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="eurocal" targetNamespace="http://www.example.org/eurocal/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/eurocal/">
      <xsd:element name="ConvertirEuros" type="tns:ConvertirEurosType">
      </xsd:element>
      <xsd:element name="ConvertirEurosResponse" type="tns:ConvertirEurosResponseType">
      </xsd:element>
      <xsd:element name="ConvertirAEuros"
      	type="tns:ConvertirAEurosType">
      </xsd:element>
      <xsd:element name="ConvertirAEurosResponse"
      	type="tns:ConvertirAEurosResponseType">
      </xsd:element>

      <xsd:complexType name="ConvertirAEurosType">
      	<xsd:sequence>
      		<xsd:element name="codi" type="xsd:string"></xsd:element>
      		<xsd:element name="moneda" type="xsd:double"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="ConvertirAEurosResponseType">
      	<xsd:sequence>
      		<xsd:element name="out" type="xsd:double"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConvertirEurosType">
      	<xsd:sequence>
      		<xsd:element name="codi" type="xsd:string"></xsd:element>
      		<xsd:element name="euros" type="xsd:double"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConvertirEurosResponseType">
      	<xsd:sequence>
      		<xsd:element name="out" type="xsd:double"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
    
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConvertirAEurosRequest">
    <wsdl:part element="tns:ConvertirAEuros" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConvertirAEurosResponse">
    <wsdl:part element="tns:ConvertirAEurosResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ConvertirEurosRequest">
  	<wsdl:part name="parameters" element="tns:ConvertirEuros"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConvertirEurosResponse">
  	<wsdl:part name="parameters" element="tns:ConvertirEurosResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="eurocal">
    <wsdl:operation name="ConvertirAEuros">
      <wsdl:input message="tns:ConvertirAEurosRequest"/>
      <wsdl:output message="tns:ConvertirAEurosResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ConvertirEuros">
    	<wsdl:input message="tns:ConvertirEurosRequest"></wsdl:input>
    	<wsdl:output message="tns:ConvertirEurosResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eurocalSOAP" type="tns:eurocal">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="ConvertirAEuros">
  		<soap:operation
  			soapAction="http://www.example.org/eurocal/ConvertirAEuros" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="ConvertirEuros">
  		<soap:operation
  			soapAction="http://www.example.org/eurocal/ConvertirEuros" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eurocal">
    <wsdl:port binding="tns:eurocalSOAP" name="eurocalSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
